{% extends seyon_nodejs_chat_template %}

{% block stylesheets %} 
{{ parent() }}
{% stylesheets 
    '@SeyonNodejsChatBundle/Resources/public/css/default.css' filter='?yui_css'
 %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts 
    '@SeyonNodejsChatBundle/Resources/public/js/wrapper/mootools.js'  filter='?yui_js'
    '@SeyonNodejsChatBundle/Resources/public/js/class/util.js'  filter='?yui_js'
    '@SeyonNodejsChatBundle/Resources/public/js/class/replacer.js'  filter='?yui_js'
    '@SeyonNodejsChatBundle/Resources/public/js/class/moderator.js'  filter='?yui_js'
    '@SeyonNodejsChatBundle/Resources/public/js/class/chat.js'  filter='?yui_js'
 %}
 <script type="text/javascript" src="{{ asset_url }}" ></script>
{% endjavascripts %}
<script>
var chatConfig = {{seyon_nodejs_chat_config|raw}};
var chatTranslations = {{seyon_nodejs_chat_trans|raw}};
{% if is_granted('ROLE_USER') %}
    chatConfig.username = '{{ seyon_nodejs_chat_username }}';
{% endif %}
Wrapper.addEvent(window, 'domready', function(){Chat.init()});
</script>
{% endblock %}

 
 
 
 
{% block seyon_nodejs_chat_content %}

 <div id="chatbox">
     
     <div id="chatbox_actions">
         {% if not is_granted('ROLE_USER') %}
             <div class="left error">
                 {% trans %}not_logged_in{% endtrans %} <a href="{{ path('login') }}">{% trans %}go_to_login{% endtrans %}</a>
             </div>
         {% endif %}
             <div class="right">
                 <a href="#" id="report_posts">{% trans %}report_posts{% endtrans %}</a>
             </div>
     </div>
     
     <div id="chatbox_userlist">
     </div>
     
     <div id="chatbox_messages">
     </div>
     
     <div id="chatbox_input">
         <textarea id="chatbox_text"></textarea>
         <button id="chatbox_send">Send Message</button>
     </div>
     
    <div id="chatbox_rooms">
    </div>
     
    <div id="chatbox_moderator">
    </div>
     
 </div>
 
{% endblock %}